@font-face {
    font-family: 'BluuNext';
    src: url('../font/BluuNext-Bold.eot');
    src: url('../font/BluuNext-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/BluuNext-Bold.woff2') format('woff2'),
        url('../font/BluuNext-Bold.woff') format('woff'),
        url('../font/BluuNext-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BluuNext';
    src: url('../font/BluuNext-BoldItalic.eot');
    src: url('../font/BluuNext-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/BluuNext-BoldItalic.woff2') format('woff2'),
        url('../font/BluuNext-BoldItalic.woff') format('woff'),
        url('../font/BluuNext-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}