@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?86905668');
  src: url('../font/fontello.eot?86905668#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?86905668') format('woff2'),
       url('../font/fontello.woff?86905668') format('woff'),
       url('../font/fontello.ttf?86905668') format('truetype'),
       url('../font/fontello.svg?86905668#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86905668#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-vcard:before { content: '\e800'; } /* 'î €' */
.icon-pin:before { content: '\e801'; } /* 'î ' */
.icon-reply:before { content: '\e802'; } /* 'î ‚' */
.icon-reply-all:before { content: '\e803'; } /* 'î ƒ' */
.icon-forward:before { content: '\e804'; } /* 'î „' */
.icon-print:before { content: '\e805'; } /* 'î …' */
.icon-keyboard:before { content: '\e806'; } /* 'î †' */
.icon-slider-left:before { content: '\e807'; } /* 'î ‡' */
.icon-clock-empty:before { content: '\e808'; } /* 'î ˆ' */
.icon-hourglass:before { content: '\e809'; } /* 'î ‰' */
.icon-login:before { content: '\e80a'; } /* 'î Š' */
.icon-logout:before { content: '\e80b'; } /* 'î ‹' */
.icon-picture:before { content: '\e80c'; } /* 'î Œ' */
.icon-brush:before { content: '\e80d'; } /* 'î ' */
.icon-ccw:before { content: '\e80e'; } /* 'î Ž' */
.icon-cw:before { content: '\e80f'; } /* 'î ' */
.icon-refresh:before { content: '\e810'; } /* 'î ' */
.icon-clock:before { content: '\e811'; } /* 'î ‘' */
.icon-circle-empty:before { content: '\e812'; } /* 'î ’' */
.icon-circle-dot:before { content: '\e813'; } /* 'î “' */
.icon-circle:before { content: '\e814'; } /* 'î ”' */
.icon-checkbox:before { content: '\e815'; } /* 'î •' */
.icon-checkbox-empty:before { content: '\e816'; } /* 'î –' */
.icon-book:before { content: '\e817'; } /* 'î —' */
.icon-mail-empty:before { content: '\e818'; } /* 'î ˜' */
.icon-mail:before { content: '\e819'; } /* 'î ™' */
.icon-phone:before { content: '\e81a'; } /* 'î š' */
.icon-book-open:before { content: '\e81b'; } /* 'î ›' */
.icon-users-group:before { content: '\e81c'; } /* 'î œ' */
.icon-male:before { content: '\e81d'; } /* 'î ' */
.icon-female:before { content: '\e81e'; } /* 'î ž' */
.icon-child:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-star:before { content: '\e820'; } /* 'î  ' */
.icon-globe:before { content: '\e821'; } /* 'î ¡' */
.icon-mobile:before { content: '\e822'; } /* 'î ¢' */
.icon-tablet-1:before { content: '\e823'; } /* 'î £' */
.icon-laptop:before { content: '\e824'; } /* 'î ¤' */
.icon-desktop:before { content: '\e825'; } /* 'î ¥' */
.icon-cog:before { content: '\e826'; } /* 'î ¦' */
.icon-cogs:before { content: '\e827'; } /* 'î §' */
.icon-down:before { content: '\e828'; } /* 'î ¨' */
.icon-wrench:before { content: '\e829'; } /* 'î ©' */
.icon-sliders:before { content: '\e82a'; } /* 'î ª' */
.icon-lock:before { content: '\e82b'; } /* 'î «' */
.icon-trophy:before { content: '\e82c'; } /* 'î ¬' */
.icon-spin3:before { content: '\e82d'; } /* 'î ­' */
.icon-spin1:before { content: '\e82e'; } /* 'î ®' */
.icon-spin2:before { content: '\e82f'; } /* 'î ¯' */
.icon-spin4:before { content: '\e830'; } /* 'î °' */
.icon-spin5:before { content: '\e831'; } /* 'î ±' */
.icon-spin6:before { content: '\e832'; } /* 'î ²' */
.icon-location:before { content: '\e833'; } /* 'î ³' */
.icon-address:before { content: '\e834'; } /* 'î ´' */
.icon-up:before { content: '\e835'; } /* 'î µ' */
.icon-right:before { content: '\e836'; } /* 'î ¶' */
.icon-left:before { content: '\e837'; } /* 'î ·' */
.icon-music-light:before { content: '\e838'; } /* 'î ¸' */
.icon-search-light:before { content: '\e839'; } /* 'î ¹' */
.icon-mail-light:before { content: '\e83a'; } /* 'î º' */
.icon-heart-light:before { content: '\e83b'; } /* 'î »' */
.icon-dot:before { content: '\e83c'; } /* 'î ¼' */
.icon-user-light:before { content: '\e83d'; } /* 'î ½' */
.icon-video-light:before { content: '\e83e'; } /* 'î ¾' */
.icon-camera-light:before { content: '\e83f'; } /* 'î ¿' */
.icon-photo-light:before { content: '\e840'; } /* 'î¡€' */
.icon-attach-light:before { content: '\e841'; } /* 'î¡' */
.icon-lock-light:before { content: '\e842'; } /* 'î¡‚' */
.icon-eye-light:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-tag-light:before { content: '\e844'; } /* 'î¡„' */
.icon-thumbs-up-light:before { content: '\e845'; } /* 'î¡…' */
.icon-pencil-light:before { content: '\e846'; } /* 'î¡†' */
.icon-comment-light:before { content: '\e847'; } /* 'î¡‡' */
.icon-location-light:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-cup-light:before { content: '\e849'; } /* 'î¡‰' */
.icon-trash-light:before { content: '\e84a'; } /* 'î¡Š' */
.icon-doc-light:before { content: '\e84b'; } /* 'î¡‹' */
.icon-key-light:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-database-light:before { content: '\e84d'; } /* 'î¡' */
.icon-megaphone-light:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-graduation-light:before { content: '\e84f'; } /* 'î¡' */
.icon-fire-light:before { content: '\e850'; } /* 'î¡' */
.icon-paper-plane-light:before { content: '\e851'; } /* 'î¡‘' */
.icon-cloud-light:before { content: '\e852'; } /* 'î¡’' */
.icon-globe-light:before { content: '\e853'; } /* 'î¡“' */
.icon-inbox-light:before { content: '\e854'; } /* 'î¡”' */
.icon-cart:before { content: '\e855'; } /* 'î¡•' */
.icon-resize-small:before { content: '\e856'; } /* 'î¡–' */
.icon-desktop-light:before { content: '\e857'; } /* 'î¡—' */
.icon-tv-light:before { content: '\e858'; } /* 'î¡˜' */
.icon-wallet-light:before { content: '\e859'; } /* 'î¡™' */
.icon-t-shirt-light:before { content: '\e85a'; } /* 'î¡š' */
.icon-lightbulb-light:before { content: '\e85b'; } /* 'î¡›' */
.icon-clock-light:before { content: '\e85c'; } /* 'î¡œ' */
.icon-diamond-light:before { content: '\e85d'; } /* 'î¡' */
.icon-shop-light:before { content: '\e85e'; } /* 'î¡ž' */
.icon-sound-light:before { content: '\e85f'; } /* 'î¡Ÿ' */
.icon-calendar-light:before { content: '\e860'; } /* 'î¡ ' */
.icon-food-light:before { content: '\e861'; } /* 'î¡¡' */
.icon-money-light:before { content: '\e862'; } /* 'î¡¢' */
.icon-params-light:before { content: '\e863'; } /* 'î¡£' */
.icon-cog-light:before { content: '\e864'; } /* 'î¡¤' */
.icon-beaker-light:before { content: '\e865'; } /* 'î¡¥' */
.icon-note-light:before { content: '\e866'; } /* 'î¡¦' */
.icon-truck-light:before { content: '\e867'; } /* 'î¡§' */
.icon-behance:before { content: '\e868'; } /* 'î¡¨' */
.icon-bitbucket:before { content: '\e869'; } /* 'î¡©' */
.icon-cc:before { content: '\e86a'; } /* 'î¡ª' */
.icon-codeopen:before { content: '\e86b'; } /* 'î¡«' */
.icon-css3:before { content: '\e86c'; } /* 'î¡¬' */
.icon-delicious:before { content: '\e86d'; } /* 'î¡­' */
.icon-digg:before { content: '\e86e'; } /* 'î¡®' */
.icon-dribbble:before { content: '\e86f'; } /* 'î¡¯' */
.icon-deviantart:before { content: '\e870'; } /* 'î¡°' */
.icon-dropbox:before { content: '\e871'; } /* 'î¡±' */
.icon-drupal:before { content: '\e872'; } /* 'î¡²' */
.icon-facebook:before { content: '\e873'; } /* 'î¡³' */
.icon-flickr:before { content: '\e874'; } /* 'î¡´' */
.icon-foursquare:before { content: '\e875'; } /* 'î¡µ' */
.icon-git:before { content: '\e876'; } /* 'î¡¶' */
.icon-github:before { content: '\e877'; } /* 'î¡·' */
.icon-gittip:before { content: '\e878'; } /* 'î¡¸' */
.icon-google:before { content: '\e879'; } /* 'î¡¹' */
.icon-gplus:before { content: '\e87a'; } /* 'î¡º' */
.icon-gwallet:before { content: '\e87b'; } /* 'î¡»' */
.icon-hacker-news:before { content: '\e87c'; } /* 'î¡¼' */
.icon-html5:before { content: '\e87d'; } /* 'î¡½' */
.icon-instagramm:before { content: '\e87e'; } /* 'î¡¾' */
.icon-ioxhost:before { content: '\e87f'; } /* 'î¡¿' */
.icon-joomla:before { content: '\e880'; } /* 'î¢€' */
.icon-jsfiddle:before { content: '\e881'; } /* 'î¢' */
.icon-lastfm:before { content: '\e882'; } /* 'î¢‚' */
.icon-linux:before { content: '\e883'; } /* 'î¢ƒ' */
.icon-linkedin:before { content: '\e884'; } /* 'î¢„' */
.icon-maxcdn:before { content: '\e885'; } /* 'î¢…' */
.icon-meanpath:before { content: '\e886'; } /* 'î¢†' */
.icon-openid:before { content: '\e887'; } /* 'î¢‡' */
.icon-pagelines:before { content: '\e888'; } /* 'î¢ˆ' */
.icon-paypal:before { content: '\e889'; } /* 'î¢‰' */
.icon-qq:before { content: '\e88a'; } /* 'î¢Š' */
.icon-reddit:before { content: '\e88b'; } /* 'î¢‹' */
.icon-renren:before { content: '\e88c'; } /* 'î¢Œ' */
.icon-skype:before { content: '\e88d'; } /* 'î¢' */
.icon-slack:before { content: '\e88e'; } /* 'î¢Ž' */
.icon-slideshare:before { content: '\e88f'; } /* 'î¢' */
.icon-soundcloud:before { content: '\e890'; } /* 'î¢' */
.icon-spotify:before { content: '\e891'; } /* 'î¢‘' */
.icon-stackexchange:before { content: '\e892'; } /* 'î¢’' */
.icon-stackoverflow:before { content: '\e893'; } /* 'î¢“' */
.icon-steam:before { content: '\e894'; } /* 'î¢”' */
.icon-stumbleupon:before { content: '\e895'; } /* 'î¢•' */
.icon-tencent-weibo:before { content: '\e896'; } /* 'î¢–' */
.icon-trello:before { content: '\e897'; } /* 'î¢—' */
.icon-tumblr:before { content: '\e898'; } /* 'î¢˜' */
.icon-twitch:before { content: '\e899'; } /* 'î¢™' */
.icon-twitter:before { content: '\e89a'; } /* 'î¢š' */
.icon-vine:before { content: '\e89b'; } /* 'î¢›' */
.icon-vkontakte:before { content: '\e89c'; } /* 'î¢œ' */
.icon-wechat:before { content: '\e89d'; } /* 'î¢' */
.icon-weibo:before { content: '\e89e'; } /* 'î¢ž' */
.icon-windows:before { content: '\e89f'; } /* 'î¢Ÿ' */
.icon-wordpress:before { content: '\e8a0'; } /* 'î¢ ' */
.icon-xing:before { content: '\e8a1'; } /* 'î¢¡' */
.icon-yelp:before { content: '\e8a2'; } /* 'î¢¢' */
.icon-youtube:before { content: '\e8a3'; } /* 'î¢£' */
.icon-yahoo:before { content: '\e8a4'; } /* 'î¢¤' */
.icon-lemon:before { content: '\e8a5'; } /* 'î¢¥' */
.icon-blank:before { content: '\e8a6'; } /* 'î¢¦' */
.icon-pinterest-circled:before { content: '\e8a7'; } /* 'î¢§' */
.icon-heart-empty:before { content: '\e8a8'; } /* 'î¢¨' */
.icon-lock-open:before { content: '\e8a9'; } /* 'î¢©' */
.icon-heart:before { content: '\e8aa'; } /* 'î¢ª' */
.icon-check:before { content: '\e8ab'; } /* 'î¢«' */
.icon-cancel:before { content: '\e8ac'; } /* 'î¢¬' */
.icon-plus:before { content: '\e8ad'; } /* 'î¢­' */
.icon-minus:before { content: '\e8ae'; } /* 'î¢®' */
.icon-double-left:before { content: '\e8af'; } /* 'î¢¯' */
.icon-double-right:before { content: '\e8b0'; } /* 'î¢°' */
.icon-double-up:before { content: '\e8b1'; } /* 'î¢±' */
.icon-double-down:before { content: '\e8b2'; } /* 'î¢²' */
.icon-help:before { content: '\e8b3'; } /* 'î¢³' */
.icon-info:before { content: '\e8b4'; } /* 'î¢´' */
.icon-link:before { content: '\e8b5'; } /* 'î¢µ' */
.icon-quote:before { content: '\e8b6'; } /* 'î¢¶' */
.icon-attach:before { content: '\e8b7'; } /* 'î¢·' */
.icon-eye:before { content: '\e8b8'; } /* 'î¢¸' */
.icon-tag:before { content: '\e8b9'; } /* 'î¢¹' */
.icon-menu:before { content: '\e8ba'; } /* 'î¢º' */
.icon-pencil:before { content: '\e8bb'; } /* 'î¢»' */
.icon-feather:before { content: '\e8bc'; } /* 'î¢¼' */
.icon-code:before { content: '\e8bd'; } /* 'î¢½' */
.icon-home:before { content: '\e8be'; } /* 'î¢¾' */
.icon-camera:before { content: '\e8bf'; } /* 'î¢¿' */
.icon-pictures:before { content: '\e8c0'; } /* 'î£€' */
.icon-video:before { content: '\e8c1'; } /* 'î£' */
.icon-users:before { content: '\e8c2'; } /* 'î£‚' */
.icon-user:before { content: '\e8c3'; } /* 'î£ƒ' */
.icon-user-add:before { content: '\e8c4'; } /* 'î£„' */
.icon-comment-empty:before { content: '\e8c5'; } /* 'î£…' */
.icon-chat-empty:before { content: '\e8c6'; } /* 'î£†' */
.icon-bell:before { content: '\e8c7'; } /* 'î£‡' */
.icon-star-empty:before { content: '\e8c8'; } /* 'î£ˆ' */
.icon-dot2:before { content: '\e8c9'; } /* 'î£‰' */
.icon-dot3:before { content: '\e8ca'; } /* 'î£Š' */
.icon-note:before { content: '\e8cb'; } /* 'î£‹' */
.icon-basket:before { content: '\e8cc'; } /* 'î£Œ' */
.icon-note2:before { content: '\e8cd'; } /* 'î£' */
.icon-share:before { content: '\e8ce'; } /* 'î£Ž' */
.icon-doc:before { content: '\e8cf'; } /* 'î£' */
.icon-doc-text:before { content: '\e8d0'; } /* 'î£' */
.icon-file-pdf:before { content: '\e8d1'; } /* 'î£‘' */
.icon-file-word:before { content: '\e8d2'; } /* 'î£’' */
.icon-file-excel:before { content: '\e8d3'; } /* 'î£“' */
.icon-file-powerpoint:before { content: '\e8d4'; } /* 'î£”' */
.icon-file-image:before { content: '\e8d5'; } /* 'î£•' */
.icon-file-archive:before { content: '\e8d6'; } /* 'î£–' */
.icon-file-audio:before { content: '\e8d7'; } /* 'î£—' */
.icon-file-video:before { content: '\e8d8'; } /* 'î£˜' */
.icon-file-code:before { content: '\e8d9'; } /* 'î£™' */
.icon-trash-empty:before { content: '\e8da'; } /* 'î£š' */
.icon-trash:before { content: '\e8db'; } /* 'î£›' */
.icon-th-large:before { content: '\e8dc'; } /* 'î£œ' */
.icon-th:before { content: '\e8dd'; } /* 'î£' */
.icon-th-list:before { content: '\e8de'; } /* 'î£ž' */
.icon-flag:before { content: '\e8df'; } /* 'î£Ÿ' */
.icon-attention:before { content: '\e8e0'; } /* 'î£ ' */
.icon-play:before { content: '\e8e1'; } /* 'î£¡' */
.icon-stop:before { content: '\e8e2'; } /* 'î£¢' */
.icon-pause:before { content: '\e8e3'; } /* 'î££' */
.icon-record:before { content: '\e8e4'; } /* 'î£¤' */
.icon-to-end:before { content: '\e8e5'; } /* 'î£¥' */
.icon-tools:before { content: '\e8e6'; } /* 'î£¦' */
.icon-retweet:before { content: '\e8e7'; } /* 'î£§' */
.icon-to-start:before { content: '\e8e8'; } /* 'î£¨' */
.icon-fast-forward:before { content: '\e8e9'; } /* 'î£©' */
.icon-fast-backward:before { content: '\e8ea'; } /* 'î£ª' */
.icon-search:before { content: '\e8eb'; } /* 'î£«' */
.icon-slider-right:before { content: '\e8ec'; } /* 'î£¬' */
.icon-rss:before { content: '\e8ed'; } /* 'î£­' */
.icon-down-big-1:before { content: '\e8ee'; } /* 'î£®' */
.icon-left-big-1:before { content: '\e8ef'; } /* 'î£¯' */
.icon-right-big-1:before { content: '\e8f0'; } /* 'î£°' */
.icon-up-big-1:before { content: '\e8f1'; } /* 'î£±' */
.icon-comment-2:before { content: '\e8f2'; } /* 'î£²' */
.icon-comment:before { content: '\e8f3'; } /* 'î£³' */
.icon-eye-2:before { content: '\e8f4'; } /* 'î£´' */
.icon-tablet:before { content: '\e8f5'; } /* 'î£µ' */
.icon-bathtub:before { content: '\e8f6'; } /* 'î£¶' */
.icon-comb:before { content: '\e8f7'; } /* 'î£·' */
.icon-calendar:before { content: '\e8f8'; } /* 'î£¸' */
.icon-search-alt:before { content: '\e8f9'; } /* 'î£¹' */
.icon-white:before { content: '\e8fa'; } /* 'î£º' */
.icon-home-alt:before { content: '\e8fb'; } /* 'î£»' */
.icon-timer:before { content: '\e8fc'; } /* 'î£¼' */
.icon-locator:before { content: '\e8fd'; } /* 'î£½' */
.icon-cup:before { content: '\e8fe'; } /* 'î£¾' */
.icon-currency:before { content: '\e8ff'; } /* 'î£¿' */
.icon-box:before { content: '\e900'; } /* 'î¤€' */
.icon-quote-left:before { content: '\e901'; } /* 'î¤' */
.icon-quote-right:before { content: '\e902'; } /* 'î¤‚' */
.icon-volume-up:before { content: '\e903'; } /* 'î¤ƒ' */
.icon-volume-off:before { content: '\e904'; } /* 'î¤„' */
.icon-volume:before { content: '\e905'; } /* 'î¤…' */
.icon-volume-down:before { content: '\e906'; } /* 'î¤†' */
.icon-arrow-left-alt:before { content: '\e907'; } /* 'î¤‡' */
.icon-arrow-right-alt:before { content: '\e908'; } /* 'î¤ˆ' */
.icon-thumbs-up:before { content: '\e909'; } /* 'î¤‰' */
.icon-thumbs-down:before { content: '\e90a'; } /* 'î¤Š' */
.icon-speech:before { content: '\e90b'; } /* 'î¤‹' */
.icon-sphere:before { content: '\e90c'; } /* 'î¤Œ' */
.icon-light:before { content: '\e90d'; } /* 'î¤' */
.icon-apple-mouse:before { content: '\e90e'; } /* 'î¤Ž' */
.icon-arrow-down:before { content: '\e90f'; } /* 'î¤' */
.icon-arrow-left:before { content: '\e910'; } /* 'î¤' */
.icon-arrow-right:before { content: '\e911'; } /* 'î¤‘' */
.icon-arrow-up:before { content: '\e912'; } /* 'î¤’' */
.icon-search-2:before { content: '\e913'; } /* 'î¤“' */
.icon-cd-light:before { content: '\e914'; } /* 'î¤”' */
.icon-mobile-light:before { content: '\e915'; } /* 'î¤•' */
.icon-clear-button:before { content: '\e916'; } /* 'î¤–' */
.icon-binoculars:before { content: '\e917'; } /* 'î¤—' */
.icon-resize-full:before { content: '\e918'; } /* 'î¤˜' */
.icon-truck:before { content: '\e919'; } /* 'î¤™' */
.icon-clipboard:before { content: '\e91a'; } /* 'î¤š' */
.icon-email:before { content: '\e91b'; } /* 'î¤›' */
.icon-modem:before { content: '\e91c'; } /* 'î¤œ' */
.icon-parking:before { content: '\e91d'; } /* 'î¤' */
.icon-swimming-pool:before { content: '\e91e'; } /* 'î¤ž' */
.icon-user-alt:before { content: '\e91f'; } /* 'î¤Ÿ' */
.icon-user-plus:before { content: '\e920'; } /* 'î¤ ' */
.icon-user-times:before { content: '\e921'; } /* 'î¤¡' */
.icon-ellipsis:before { content: '\e922'; } /* 'î¤¢' */
.icon-summer:before { content: '\e923'; } /* 'î¤£' */
.icon-wireless-antenna:before { content: '\e924'; } /* 'î¤¤' */
.icon-floor:before { content: '\e925'; } /* 'î¤¥' */
.icon-home-2:before { content: '\e926'; } /* 'î¤¦' */
.icon-wireless:before { content: '\e927'; } /* 'î¤§' */
.icon-ironing:before { content: '\e928'; } /* 'î¤¨' */
.icon-down-big:before { content: '\e929'; } /* 'î¤©' */
.icon-left-big:before { content: '\e92a'; } /* 'î¤ª' */
.icon-right-big:before { content: '\e92b'; } /* 'î¤«' */
.icon-up-big:before { content: '\e92c'; } /* 'î¤¬' */
.icon-laundry:before { content: '\e92d'; } /* 'î¤­' */
.icon-fax-2:before { content: '\e92e'; } /* 'î¤®' */
.icon-phone-2:before { content: '\e92f'; } /* 'î¤¯' */
.icon-tools-2:before { content: '\e930'; } /* 'î¤°' */
.icon-checkbox-2:before { content: '\e931'; } /* 'î¤±' */
.icon-map:before { content: '\e932'; } /* 'î¤²' */
.icon-newspaper:before { content: '\e933'; } /* 'î¤³' */
.icon-note-2:before { content: '\e934'; } /* 'î¤´' */
.icon-picture-2:before { content: '\e935'; } /* 'î¤µ' */
.icon-radio-tower:before { content: '\e936'; } /* 'î¤¶' */
.icon-video-2:before { content: '\e937'; } /* 'î¤·' */
.icon-down-arrow:before { content: '\e938'; } /* 'î¤¸' */
.icon-left-arrow:before { content: '\e939'; } /* 'î¤¹' */
.icon-right-arrow:before { content: '\e93a'; } /* 'î¤º' */
.icon-up-arrow:before { content: '\e93b'; } /* 'î¤»' */
.icon-menu-2:before { content: '\e93c'; } /* 'î¤¼' */
.icon-cart-2:before { content: '\e93d'; } /* 'î¤½' */
.icon-ellipsis-vert:before { content: '\e93e'; } /* 'î¤¾' */
.icon-left-mini:before { content: '\e93f'; } /* 'î¤¿' */
.icon-right-mini:before { content: '\e940'; } /* 'î¥€' */
.icon-up-mini:before { content: '\e941'; } /* 'î¥' */
.icon-down-mini:before { content: '\e942'; } /* 'î¥‚' */
.icon-arrow-combo:before { content: '\e943'; } /* 'î¥ƒ' */
.icon-signal:before { content: '\e944'; } /* 'î¥„' */
.icon-air:before { content: '\e945'; } /* 'î¥…' */
.icon-water:before { content: '\e946'; } /* 'î¥†' */
.icon-shareable:before { content: '\e947'; } /* 'î¥‡' */
.icon-resize-full-1:before { content: '\e948'; } /* 'î¥ˆ' */
.icon-resize-small-1:before { content: '\e949'; } /* 'î¥‰' */
.icon-down-thin:before { content: '\e94a'; } /* 'î¥Š' */
.icon-left-thin:before { content: '\e94b'; } /* 'î¥‹' */
.icon-right-thin:before { content: '\e94c'; } /* 'î¥Œ' */
.icon-up-thin:before { content: '\e94d'; } /* 'î¥' */
.icon-level-down:before { content: '\e94e'; } /* 'î¥Ž' */
.icon-level-up:before { content: '\e94f'; } /* 'î¥' */
.icon-shuffle:before { content: '\e950'; } /* 'î¥' */
.icon-loop:before { content: '\e951'; } /* 'î¥‘' */
.icon-switch:before { content: '\e952'; } /* 'î¥’' */
.icon-resize-vertical:before { content: '\e953'; } /* 'î¥“' */
.icon-resize-horizontal:before { content: '\e954'; } /* 'î¥”' */
.icon-block:before { content: '\e955'; } /* 'î¥•' */
.icon-001-rune:before { content: '\e956'; } /* 'î¥–' */
.icon-002-rune-1:before { content: '\e957'; } /* 'î¥—' */
.icon-003-rune-2:before { content: '\e958'; } /* 'î¥˜' */
.icon-004-rune-3:before { content: '\e959'; } /* 'î¥™' */
.icon-005-rune-4:before { content: '\e95a'; } /* 'î¥š' */
.icon-017-rune-7:before { content: '\e95b'; } /* 'î¥›' */
.icon-018-rune-8:before { content: '\e95c'; } /* 'î¥œ' */
.icon-019-rune-9:before { content: '\e95d'; } /* 'î¥' */
.icon-020-cosmos:before { content: '\e95e'; } /* 'î¥ž' */
.icon-021-gods-shield:before { content: '\e95f'; } /* 'î¥Ÿ' */
.icon-022-rune-10:before { content: '\e960'; } /* 'î¥ ' */
.icon-023-knowledge:before { content: '\e961'; } /* 'î¥¡' */
.icon-023-sword-suit:before { content: '\e962'; } /* 'î¥¢' */
.icon-24-hours:before { content: '\e963'; } /* 'î¥£' */
.icon-126341:before { content: '\e964'; } /* 'î¥¤' */
.icon-asset-1:before { content: '\e965'; } /* 'î¥¥' */
.icon-bladder:before { content: '\e966'; } /* 'î¥¦' */
.icon-brain:before { content: '\e967'; } /* 'î¥§' */
.icon-group-13:before { content: '\e968'; } /* 'î¥¨' */
.icon-heart-1:before { content: '\e969'; } /* 'î¥©' */
.icon-kidney:before { content: '\e96a'; } /* 'î¥ª' */
.icon-knee:before { content: '\e96b'; } /* 'î¥«' */
.icon-liver:before { content: '\e96c'; } /* 'î¥¬' */
.icon-lungs:before { content: '\e96d'; } /* 'î¥­' */
.icon-path-374:before { content: '\e96e'; } /* 'î¥®' */
.icon-path-375:before { content: '\e96f'; } /* 'î¥¯' */
.icon-path-378:before { content: '\e970'; } /* 'î¥°' */
.icon-016-rune-6:before { content: '\e971'; } /* 'î¥±' */
.icon-006-rune-5:before { content: '\e972'; } /* 'î¥²' */
.icon-path-413:before { content: '\e973'; } /* 'î¥³' */
.icon-path-451:before { content: '\e974'; } /* 'î¥´' */
.icon-path-412:before { content: '\e975'; } /* 'î¥µ' */
.icon-path-417:before { content: '\e976'; } /* 'î¥¶' */
.icon-wallet:before { content: '\e977'; } /* 'î¥·' */
.icon-thyroid:before { content: '\e978'; } /* 'î¥¸' */
.icon-strong:before { content: '\e979'; } /* 'î¥¹' */
.icon-shopping-cart2:before { content: '\e97a'; } /* 'î¥º' */
.icon-path-415:before { content: '\e97b'; } /* 'î¥»' */
.icon-stomach:before { content: '\e97c'; } /* 'î¥¼' */
.icon-p-facebook:before { content: '\e97d'; } /* 'î¥½' */
.icon-p-twitter:before { content: '\e97e'; } /* 'î¥¾' */
.icon-path-414:before { content: '\e97f'; } /* 'î¥¿' */
.icon-p-right:before { content: '\e980'; } /* 'î¦€' */
.icon-p-mail:before { content: '\e981'; } /* 'î¦' */
.icon-p-youtube:before { content: '\e982'; } /* 'î¦‚' */
.icon-path-380:before { content: '\e983'; } /* 'î¦ƒ' */
.icon-p-shopping-cart:before { content: '\e984'; } /* 'î¦„' */
.icon-path-382:before { content: '\e985'; } /* 'î¦…' */
.icon-path-385:before { content: '\e986'; } /* 'î¦†' */
.icon-path-416:before { content: '\e987'; } /* 'î¦‡' */
.icon-user-1:before { content: '\e988'; } /* 'î¦ˆ' */
.icon-volume-up-1:before { content: '\e989'; } /* 'î¦‰' */
.icon-volume-off-1:before { content: '\e98a'; } /* 'î¦Š' */
.icon-volume-down-1:before { content: '\e98b'; } /* 'î¦‹' */
.icon-star-1:before { content: '\e98c'; } /* 'î¦Œ' */
.icon-search_icon:before { content: '\e98d'; } /* 'î¦' */
.icon-030_telescope:before { content: '\e98e'; } /* 'î¦Ž' */
.icon-028_magic-ball:before { content: '\e98f'; } /* 'î¦' */
.icon-plus-symbol:before { content: '\e990'; } /* 'î¦' */
.icon-child-horoskope:before { content: '\e991'; } /* 'î¦‘' */
.icon-daily-horoscope:before { content: '\e992'; } /* 'î¦’' */
.icon-astro-travel:before { content: '\e993'; } /* 'î¦“' */
.icon-yearly-horoskope:before { content: '\e994'; } /* 'î¦”' */
.icon-planet-earth:before { content: '\e995'; } /* 'î¦•' */
.icon-phone-contacts:before { content: '\e996'; } /* 'î¦–' */
.icon-paper-plane:before { content: '\e997'; } /* 'î¦—' */
.icon-thm:before { content: '\e998'; } /* 'î¦˜' */
.icon-thm-list:before { content: '\e999'; } /* 'î¦™' */
.icon-services-treatment-3:before { content: '\e99a'; } /* 'î¦š' */
.icon-services-treatment-4:before { content: '\e99b'; } /* 'î¦›' */
.icon-services-treatment-2:before { content: '\e99c'; } /* 'î¦œ' */
.icon-services-treatment-1:before { content: '\e99d'; } /* 'î¦' */
.icon-strong-1:before { content: '\e99e'; } /* 'î¦ž' */
.icon-thyroid-1:before { content: '\e99f'; } /* 'î¦Ÿ' */
.icon-lungs-1:before { content: '\e9a0'; } /* 'î¦ ' */
.icon-stomach-1:before { content: '\e9a1'; } /* 'î¦¡' */
.icon-bladder-1:before { content: '\e9a2'; } /* 'î¦¢' */
.icon-knee-1:before { content: '\e9a3'; } /* 'î¦£' */
.icon-liver-1:before { content: '\e9a4'; } /* 'î¦¤' */
.icon-kidney-1:before { content: '\e9a5'; } /* 'î¦¥' */
.icon-heart-2:before { content: '\e9a6'; } /* 'î¦¦' */
.icon-brain-1:before { content: '\e9a7'; } /* 'î¦§' */
.icon-move:before { content: '\f047'; } /* 'ï‡' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* 'ï‚²' */
.icon-docs:before { content: '\f0c5'; } /* 'ïƒ…' */
.icon-ambulance:before { content: '\f0f9'; } /* 'ïƒ¹' */
.icon-euro:before { content: '\f153'; } /* 'ï…“' */
.icon-pound:before { content: '\f154'; } /* 'ï…”' */
.icon-dollar:before { content: '\f155'; } /* 'ï…•' */
.icon-yen:before { content: '\f157'; } /* 'ï…—' */
.icon-rouble:before { content: '\f158'; } /* 'ï…˜' */
.icon-car:before { content: '\f1b9'; } /* 'ï†¹' */
.icon-taxi:before { content: '\f1ba'; } /* 'ï†º' */
.icon-bicycle:before { content: '\f206'; } /* 'ïˆ†' */
.icon-bus:before { content: '\f207'; } /* 'ïˆ‡' */
.icon-ship:before { content: '\f21a'; } /* 'ïˆš' */
.icon-motorcycle:before { content: '\f21c'; } /* 'ïˆœ' */
.icon-train:before { content: '\f238'; } /* 'ïˆ¸' */
.icon-subway:before { content: '\f239'; } /* 'ïˆ¹' */
.icon-clone:before { content: '\f24d'; } /* 'ï‰' */