@font-face {
  font-family: 'trx_addons_icons';
  font-display: swap;
  src: url('../font/trx_addons_icons.eot?59264814');
  src: url('../font/trx_addons_icons.eot?59264814#iefix') format('embedded-opentype'),
       url('../font/trx_addons_icons.woff2?59264814') format('woff2'),
       url('../font/trx_addons_icons.woff?59264814') format('woff'),
       url('../font/trx_addons_icons.ttf?59264814') format('truetype'),
       url('../font/trx_addons_icons.svg?59264814#trx_addons_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'trx_addons_icons';
    font-display: swap;
    src: url('../font/trx_addons_icons.svg?59264814#trx_addons_icons') format('svg');
  }
}
*/
 
 [class^="trx_addons_icon-"]:before, [class*=" trx_addons_icon-"]:before {
  font-family: "trx_addons_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.trx_addons_icon-spin3:before { content: '\e800'; } /* 'î €' */
.trx_addons_icon-spin5:before { content: '\e801'; } /* 'î ' */
.trx_addons_icon-share:before { content: '\e802'; } /* 'î ‚' */
.trx_addons_icon-adn:before { content: '\e803'; } /* 'î ƒ' */
.trx_addons_icon-android:before { content: '\e804'; } /* 'î „' */
.trx_addons_icon-angellist:before { content: '\e805'; } /* 'î …' */
.trx_addons_icon-apple:before { content: '\e806'; } /* 'î †' */
.trx_addons_icon-behance:before { content: '\e807'; } /* 'î ‡' */
.trx_addons_icon-bitbucket:before { content: '\e808'; } /* 'î ˆ' */
.trx_addons_icon-buysellads:before { content: '\e809'; } /* 'î ‰' */
.trx_addons_icon-cc:before { content: '\e80a'; } /* 'î Š' */
.trx_addons_icon-codeopen:before { content: '\e80b'; } /* 'î ‹' */
.trx_addons_icon-connectdevelop:before { content: '\e80c'; } /* 'î Œ' */
.trx_addons_icon-css3:before { content: '\e80d'; } /* 'î ' */
.trx_addons_icon-dashcube:before { content: '\e80e'; } /* 'î Ž' */
.trx_addons_icon-delicious:before { content: '\e80f'; } /* 'î ' */
.trx_addons_icon-deviantart:before { content: '\e810'; } /* 'î ' */
.trx_addons_icon-digg:before { content: '\e811'; } /* 'î ‘' */
.trx_addons_icon-dribbble:before { content: '\e812'; } /* 'î ’' */
.trx_addons_icon-dropbox:before { content: '\e813'; } /* 'î “' */
.trx_addons_icon-drupal:before { content: '\e814'; } /* 'î ”' */
.trx_addons_icon-facebook:before { content: '\e815'; } /* 'î •' */
.trx_addons_icon-flickr:before { content: '\e816'; } /* 'î –' */
.trx_addons_icon-forumbee:before { content: '\e817'; } /* 'î —' */
.trx_addons_icon-foursquare:before { content: '\e818'; } /* 'î ˜' */
.trx_addons_icon-git:before { content: '\e819'; } /* 'î ™' */
.trx_addons_icon-github:before { content: '\e81a'; } /* 'î š' */
.trx_addons_icon-google:before { content: '\e81b'; } /* 'î ›' */
.trx_addons_icon-gplus:before { content: '\e81c'; } /* 'î œ' */
.trx_addons_icon-gwallet:before { content: '\e81d'; } /* 'î ' */
.trx_addons_icon-hacker-news:before { content: '\e81e'; } /* 'î ž' */
.trx_addons_icon-html5:before { content: '\e81f'; } /* 'î Ÿ' */
.trx_addons_icon-instagram:before { content: '\e820'; } /* 'î  ' */
.trx_addons_icon-ioxhost:before { content: '\e821'; } /* 'î ¡' */
.trx_addons_icon-joomla:before { content: '\e822'; } /* 'î ¢' */
.trx_addons_icon-jsfiddle:before { content: '\e823'; } /* 'î £' */
.trx_addons_icon-lastfm:before { content: '\e824'; } /* 'î ¤' */
.trx_addons_icon-leanpub:before { content: '\e825'; } /* 'î ¥' */
.trx_addons_icon-linkedin:before { content: '\e826'; } /* 'î ¦' */
.trx_addons_icon-linux:before { content: '\e827'; } /* 'î §' */
.trx_addons_icon-maxcdn:before { content: '\e828'; } /* 'î ¨' */
.trx_addons_icon-meanpath:before { content: '\e829'; } /* 'î ©' */
.trx_addons_icon-openid:before { content: '\e82a'; } /* 'î ª' */
.trx_addons_icon-pagelines:before { content: '\e82b'; } /* 'î «' */
.trx_addons_icon-paypal:before { content: '\e82c'; } /* 'î ¬' */
.trx_addons_icon-pied-piper-alt:before { content: '\e82d'; } /* 'î ­' */
.trx_addons_icon-pinterest:before { content: '\e82e'; } /* 'î ®' */
.trx_addons_icon-qq:before { content: '\e82f'; } /* 'î ¯' */
.trx_addons_icon-reddit:before { content: '\e830'; } /* 'î °' */
.trx_addons_icon-renren:before { content: '\e831'; } /* 'î ±' */
.trx_addons_icon-sellsy:before { content: '\e832'; } /* 'î ²' */
.trx_addons_icon-shirtsinbulk:before { content: '\e833'; } /* 'î ³' */
.trx_addons_icon-simplybuilt:before { content: '\e834'; } /* 'î ´' */
.trx_addons_icon-skyatlas:before { content: '\e835'; } /* 'î µ' */
.trx_addons_icon-skype:before { content: '\e836'; } /* 'î ¶' */
.trx_addons_icon-slack:before { content: '\e837'; } /* 'î ·' */
.trx_addons_icon-slideshare:before { content: '\e838'; } /* 'î ¸' */
.trx_addons_icon-stackoverflow:before { content: '\e839'; } /* 'î ¹' */
.trx_addons_icon-steam:before { content: '\e83a'; } /* 'î º' */
.trx_addons_icon-stumbleupon:before { content: '\e83b'; } /* 'î »' */
.trx_addons_icon-tencent-weibo:before { content: '\e83c'; } /* 'î ¼' */
.trx_addons_icon-trello:before { content: '\e83d'; } /* 'î ½' */
.trx_addons_icon-tumblr:before { content: '\e83e'; } /* 'î ¾' */
.trx_addons_icon-twitch:before { content: '\e83f'; } /* 'î ¿' */
.trx_addons_icon-twitter:before { content: '\e840'; } /* 'î¡€' */
.trx_addons_icon-vine:before { content: '\e841'; } /* 'î¡' */
.trx_addons_icon-vkontakte:before { content: '\e842'; } /* 'î¡‚' */
.trx_addons_icon-wechat:before { content: '\e843'; } /* 'î¡ƒ' */
.trx_addons_icon-whatsapp:before { content: '\e844'; } /* 'î¡„' */
.trx_addons_icon-weibo:before { content: '\e845'; } /* 'î¡…' */
.trx_addons_icon-windows:before { content: '\e846'; } /* 'î¡†' */
.trx_addons_icon-wordpress:before { content: '\e847'; } /* 'î¡‡' */
.trx_addons_icon-xing:before { content: '\e848'; } /* 'î¡ˆ' */
.trx_addons_icon-yelp:before { content: '\e849'; } /* 'î¡‰' */
.trx_addons_icon-youtube:before { content: '\e84a'; } /* 'î¡Š' */
.trx_addons_icon-yahoo:before { content: '\e84b'; } /* 'î¡‹' */
.trx_addons_icon-circle:before { content: '\e84c'; } /* 'î¡Œ' */
.trx_addons_icon-lemon:before { content: '\e84d'; } /* 'î¡' */
.trx_addons_icon-soundcloud:before { content: '\e84e'; } /* 'î¡Ž' */
.trx_addons_icon-google-circles:before { content: '\e84f'; } /* 'î¡' */
.trx_addons_icon-logo-db:before { content: '\e850'; } /* 'î¡' */
.trx_addons_icon-sweden:before { content: '\e851'; } /* 'î¡‘' */
.trx_addons_icon-evernote:before { content: '\e852'; } /* 'î¡’' */
.trx_addons_icon-heart:before { content: '\e853'; } /* 'î¡“' */
.trx_addons_icon-heart-empty:before { content: '\e854'; } /* 'î¡”' */
.trx_addons_icon-eye:before { content: '\e855'; } /* 'î¡•' */
.trx_addons_icon-comment-empty:before { content: '\e856'; } /* 'î¡–' */
.trx_addons_icon-down:before { content: '\e857'; } /* 'î¡—' */
.trx_addons_icon-left:before { content: '\e858'; } /* 'î¡˜' */
.trx_addons_icon-right:before { content: '\e859'; } /* 'î¡™' */
.trx_addons_icon-up:before { content: '\e85a'; } /* 'î¡š' */
.trx_addons_icon-pencil:before { content: '\e85b'; } /* 'î¡›' */
.trx_addons_icon-shareable:before { content: '\e85c'; } /* 'î¡œ' */
.trx_addons_icon-tools:before { content: '\e85d'; } /* 'î¡' */
.trx_addons_icon-basket:before { content: '\e85e'; } /* 'î¡ž' */
.trx_addons_icon-reply:before { content: '\e85f'; } /* 'î¡Ÿ' */
.trx_addons_icon-reply-all:before { content: '\e860'; } /* 'î¡ ' */
.trx_addons_icon-forward:before { content: '\e861'; } /* 'î¡¡' */
.trx_addons_icon-edit:before { content: '\e862'; } /* 'î¡¢' */
.trx_addons_icon-feather3:before { content: '\e863'; } /* 'î¡£' */
.trx_addons_icon-code:before { content: '\e864'; } /* 'î¡¤' */
.trx_addons_icon-attach:before { content: '\e865'; } /* 'î¡¥' */
.trx_addons_icon-lock:before { content: '\e866'; } /* 'î¡¦' */
.trx_addons_icon-lock-open:before { content: '\e867'; } /* 'î¡§' */
.trx_addons_icon-pin:before { content: '\e868'; } /* 'î¡¨' */
.trx_addons_icon-home:before { content: '\e869'; } /* 'î¡©' */
.trx_addons_icon-link:before { content: '\e86a'; } /* 'î¡ª' */
.trx_addons_icon-unlink:before { content: '\e86b'; } /* 'î¡«' */
.trx_addons_icon-download:before { content: '\e86c'; } /* 'î¡¬' */
.trx_addons_icon-mail:before { content: '\e86d'; } /* 'î¡­' */
.trx_addons_icon-star:before { content: '\e86e'; } /* 'î¡®' */
.trx_addons_icon-star-empty:before { content: '\e86f'; } /* 'î¡¯' */
.trx_addons_icon-user-alt:before { content: '\e870'; } /* 'î¡°' */
.trx_addons_icon-user-plus:before { content: '\e871'; } /* 'î¡±' */
.trx_addons_icon-user-times:before { content: '\e872'; } /* 'î¡²' */
.trx_addons_icon-users-group:before { content: '\e873'; } /* 'î¡³' */
.trx_addons_icon-ok:before { content: '\e874'; } /* 'î¡´' */
.trx_addons_icon-delete:before { content: '\e875'; } /* 'î¡µ' */
.trx_addons_icon-plus:before { content: '\e876'; } /* 'î¡¶' */
.trx_addons_icon-minus:before { content: '\e877'; } /* 'î¡·' */
.trx_addons_icon-ok-circled:before { content: '\e878'; } /* 'î¡¸' */
.trx_addons_icon-delete-circled:before { content: '\e879'; } /* 'î¡¹' */
.trx_addons_icon-plus-circled:before { content: '\e87a'; } /* 'î¡º' */
.trx_addons_icon-minus-circled:before { content: '\e87b'; } /* 'î¡»' */
.trx_addons_icon-help:before { content: '\e87c'; } /* 'î¡¼' */
.trx_addons_icon-help-circled:before { content: '\e87d'; } /* 'î¡½' */
.trx_addons_icon-info-circled:before { content: '\e87e'; } /* 'î¡¾' */
.trx_addons_icon-info:before { content: '\e87f'; } /* 'î¡¿' */
.trx_addons_icon-attention:before { content: '\e880'; } /* 'î¢€' */
.trx_addons_icon-attention-circled:before { content: '\e881'; } /* 'î¢' */
.trx_addons_icon-down-mini:before { content: '\e882'; } /* 'î¢‚' */
.trx_addons_icon-left-mini:before { content: '\e883'; } /* 'î¢ƒ' */
.trx_addons_icon-right-mini:before { content: '\e884'; } /* 'î¢„' */
.trx_addons_icon-up-mini:before { content: '\e885'; } /* 'î¢…' */
.trx_addons_icon-rss:before { content: '\e886'; } /* 'î¢†' */
.trx_addons_icon-slider-left:before { content: '\e887'; } /* 'î¢‡' */
.trx_addons_icon-slider-right:before { content: '\e888'; } /* 'î¢ˆ' */
.trx_addons_icon-cog:before { content: '\e889'; } /* 'î¢‰' */
.trx_addons_icon-gps:before { content: '\e88a'; } /* 'î¢Š' */
.trx_addons_icon-monitor:before { content: '\e88b'; } /* 'î¢‹' */
.trx_addons_icon-mouse:before { content: '\e88c'; } /* 'î¢Œ' */
.trx_addons_icon-feather:before { content: '\e88d'; } /* 'î¢' */
.trx_addons_icon-cogs:before { content: '\e88e'; } /* 'î¢Ž' */
.trx_addons_icon-sliders:before { content: '\e88f'; } /* 'î¢' */
.trx_addons_icon-camera:before { content: '\e890'; } /* 'î¢' */
.trx_addons_icon-lamp:before { content: '\e891'; } /* 'î¢‘' */
.trx_addons_icon-down-dir:before { content: '\e892'; } /* 'î¢’' */
.trx_addons_icon-telephone:before { content: '\e893'; } /* 'î¢“' */
.trx_addons_icon-print:before { content: '\e894'; } /* 'î¢”' */
.trx_addons_icon-export:before { content: '\e895'; } /* 'î¢•' */
.trx_addons_icon-mute:before { content: '\e896'; } /* 'î¢–' */
.trx_addons_icon-volume:before { content: '\e897'; } /* 'î¢—' */
.trx_addons_icon-search:before { content: '\e898'; } /* 'î¢˜' */
.trx_addons_icon-print2:before { content: '\e899'; } /* 'î¢™' */
.trx_addons_icon-youtube2:before { content: '\e89a'; } /* 'î¢š' */
.trx_addons_icon-asterisk:before { content: '\e89b'; } /* 'î¢›' */
.trx_addons_icon-checkbox:before { content: '\e89c'; } /* 'î¢œ' */
.trx_addons_icon-circle-thin:before { content: '\e89d'; } /* 'î¢' */
.trx_addons_icon-ellipsis:before { content: '\e89e'; } /* 'î¢ž' */
.trx_addons_icon-ellipsis-vert:before { content: '\e89f'; } /* 'î¢Ÿ' */
.trx_addons_icon-off:before { content: '\e8a0'; } /* 'î¢ ' */
.trx_addons_icon-scissors:before { content: '\e8a1'; } /* 'î¢¡' */
.trx_addons_icon-paste:before { content: '\e8a2'; } /* 'î¢¢' */
.trx_addons_icon-floppy:before { content: '\e8a3'; } /* 'î¢£' */
.trx_addons_icon-book:before { content: '\e8a4'; } /* 'î¢¤' */
.trx_addons_icon-toggle-off:before { content: '\e8a5'; } /* 'î¢¥' */
.trx_addons_icon-toggle-on:before { content: '\e8a6'; } /* 'î¢¦' */
.trx_addons_icon-columns:before { content: '\e8a7'; } /* 'î¢§' */
.trx_addons_icon-table:before { content: '\e8a8'; } /* 'î¢¨' */
.trx_addons_icon-circle-dot:before { content: '\e8a9'; } /* 'î¢©' */
.trx_addons_icon-chart-bar:before { content: '\e8aa'; } /* 'î¢ª' */
.trx_addons_icon-chart-area:before { content: '\e8ab'; } /* 'î¢«' */
.trx_addons_icon-chart-pie:before { content: '\e8ac'; } /* 'î¢¬' */
.trx_addons_icon-chart-line:before { content: '\e8ad'; } /* 'î¢­' */
.trx_addons_icon-certificate:before { content: '\e8ae'; } /* 'î¢®' */
.trx_addons_icon-signal:before { content: '\e8af'; } /* 'î¢¯' */
.trx_addons_icon-checkbox-empty:before { content: '\e8b0'; } /* 'î¢°' */
.trx_addons_icon-gift:before { content: '\e8b1'; } /* 'î¢±' */
.trx_addons_icon-desktop:before { content: '\e8b2'; } /* 'î¢²' */
.trx_addons_icon-laptop:before { content: '\e8b3'; } /* 'î¢³' */
.trx_addons_icon-tablet:before { content: '\e8b4'; } /* 'î¢´' */
.trx_addons_icon-mobile:before { content: '\e8b5'; } /* 'î¢µ' */
.trx_addons_icon-dot:before { content: '\e8b6'; } /* 'î¢¶' */
.trx_addons_icon-record:before { content: '\e8b7'; } /* 'î¢·' */
.trx_addons_icon-quote-right:before { content: '\e8b8'; } /* 'î¢¸' */
.trx_addons_icon-quote-left:before { content: '\e8b9'; } /* 'î¢¹' */
.trx_addons_icon-feather2:before { content: '\e8ba'; } /* 'î¢º' */
.trx_addons_icon-location-outline:before { content: '\e8bb'; } /* 'î¢»' */
.trx_addons_icon-menu:before { content: '\e8bc'; } /* 'î¢¼' */
.trx_addons_icon-check:before { content: '\e8bd'; } /* 'î¢½' */
.trx_addons_icon-cancel:before { content: '\e8be'; } /* 'î¢¾' */
.trx_addons_icon-fire:before { content: '\e8bf'; } /* 'î¢¿' */
.trx_addons_icon-fire-light:before { content: '\e8c0'; } /* 'î£€' */
.trx_addons_icon-food-light:before { content: '\e8c1'; } /* 'î£' */
.trx_addons_icon-phone-2:before { content: '\e8c2'; } /* 'î£‚' */
.trx_addons_icon-map:before { content: '\e8c3'; } /* 'î£ƒ' */
.trx_addons_icon-up-dir:before { content: '\e8c4'; } /* 'î£„' */
.trx_addons_icon-left-dir:before { content: '\e8c5'; } /* 'î£…' */
.trx_addons_icon-right-dir:before { content: '\e8c6'; } /* 'î£†' */
.trx_addons_icon-calendar:before { content: '\e8c7'; } /* 'î£‡' */
.trx_addons_icon-credit-card:before { content: '\e8c8'; } /* 'î£ˆ' */
.trx_addons_icon-dot2:before { content: '\e8c9'; } /* 'î£‰' */
.trx_addons_icon-dot3:before { content: '\e8ca'; } /* 'î£Š' */
.trx_addons_icon-resize-small:before { content: '\e8cb'; } /* 'î£‹' */
.trx_addons_icon-resize-vertical:before { content: '\e8cc'; } /* 'î£Œ' */
.trx_addons_icon-resize-horizontal:before { content: '\e8cd'; } /* 'î£' */
.trx_addons_icon-water:before { content: '\e8ce'; } /* 'î£Ž' */
.trx_addons_icon-droplet:before { content: '\e8cf'; } /* 'î£' */
.trx_addons_icon-air:before { content: '\e8d0'; } /* 'î£' */
.trx_addons_icon-address:before { content: '\e8d1'; } /* 'î£‘' */
.trx_addons_icon-location:before { content: '\e8d2'; } /* 'î£’' */
.trx_addons_icon-map-2:before { content: '\e8d3'; } /* 'î£“' */
.trx_addons_icon-direction:before { content: '\e8d4'; } /* 'î£”' */
.trx_addons_icon-compass:before { content: '\e8d5'; } /* 'î£•' */
.trx_addons_icon-globe:before { content: '\e8d6'; } /* 'î£–' */
.trx_addons_icon-flow-tree:before { content: '\e8d7'; } /* 'î£—' */
.trx_addons_icon-key:before { content: '\e8d8'; } /* 'î£˜' */
.trx_addons_icon-flow-cross:before { content: '\e8d9'; } /* 'î£™' */
.trx_addons_icon-fuel:before { content: '\e8da'; } /* 'î£š' */
.trx_addons_icon-lodging:before { content: '\e8db'; } /* 'î£›' */
.trx_addons_icon-toilet:before { content: '\e8dc'; } /* 'î£œ' */
.trx_addons_icon-wrench:before { content: '\e8dd'; } /* 'î£' */
.trx_addons_icon-cogs-1:before { content: '\e8de'; } /* 'î£ž' */
.trx_addons_icon-gauge-1:before { content: '\e8df'; } /* 'î£Ÿ' */
.trx_addons_icon-road:before { content: '\e8e0'; } /* 'î£ ' */
.trx_addons_icon-volume-off:before { content: '\e8e1'; } /* 'î£¡' */
.trx_addons_icon-volume-down:before { content: '\e8e2'; } /* 'î£¢' */
.trx_addons_icon-volume-up:before { content: '\e8e3'; } /* 'î££' */
.trx_addons_icon-play:before { content: '\e8e4'; } /* 'î£¤' */
.trx_addons_icon-pause:before { content: '\e8e5'; } /* 'î£¥' */
.trx_addons_icon-stop:before { content: '\e8e6'; } /* 'î£¦' */
.trx_addons_icon-align-left:before { content: '\e8e7'; } /* 'î£§' */
.trx_addons_icon-align-center:before { content: '\e8e8'; } /* 'î£¨' */
.trx_addons_icon-align-right:before { content: '\e8e9'; } /* 'î£©' */
.trx_addons_icon-align-justify:before { content: '\e8ea'; } /* 'î£ª' */
.trx_addons_icon-list:before { content: '\e8eb'; } /* 'î£«' */
.trx_addons_icon-film:before { content: '\e8ec'; } /* 'î£¬' */
.trx_addons_icon-video:before { content: '\e8ed'; } /* 'î£­' */
.trx_addons_icon-video-light:before { content: '\e8ee'; } /* 'î£®' */
.trx_addons_icon-comment:before { content: '\e8ef'; } /* 'î£¯' */
.trx_addons_icon-chat:before { content: '\e8f0'; } /* 'î£°' */
.trx_addons_icon-thumbs-up:before { content: '\e8f1'; } /* 'î£±' */
.trx_addons_icon-thumbs-down:before { content: '\e8f2'; } /* 'î£²' */
.trx_addons_icon-arrow-down:before { content: '\e90f'; } /* 'î¤' */
.trx_addons_icon-arrow-left:before { content: '\e910'; } /* 'î¤' */
.trx_addons_icon-arrow-right:before { content: '\e911'; } /* 'î¤‘' */
.trx_addons_icon-arrow-up:before { content: '\e912'; } /* 'î¤’' */
.trx_addons_icon-resize-full:before { content: '\e918'; } /* 'î¤˜' */
.trx_addons_icon-move:before { content: '\f047'; } /* 'ï‡' */
.trx_addons_icon-filter:before { content: '\f0b0'; } /* 'ï‚°' */
.trx_addons_icon-resize-full-alt:before { content: '\f0b2'; } /* 'ï‚²' */
.trx_addons_icon-list-bullet:before { content: '\f0ca'; } /* 'ïƒŠ' */
.trx_addons_icon-list-numbered:before { content: '\f0cb'; } /* 'ïƒ‹' */
.trx_addons_icon-sort:before { content: '\f0dc'; } /* 'ïƒœ' */
.trx_addons_icon-sort-down:before { content: '\f0dd'; } /* 'ïƒ' */
.trx_addons_icon-sort-up:before { content: '\f0de'; } /* 'ïƒž' */
.trx_addons_icon-gauge:before { content: '\f0e4'; } /* 'ïƒ¤' */
.trx_addons_icon-chat-empty:before { content: '\f0e6'; } /* 'ïƒ¦' */
.trx_addons_icon-sitemap:before { content: '\f0e8'; } /* 'ïƒ¨' */
.trx_addons_icon-food:before { content: '\f0f5'; } /* 'ïƒµ' */
.trx_addons_icon-building:before { content: '\f0f7'; } /* 'ïƒ·' */
.trx_addons_icon-mic:before { content: '\f130'; } /* 'ï„°' */
.trx_addons_icon-mute-1:before { content: '\f131'; } /* 'ï„±' */
.trx_addons_icon-calendar-empty:before { content: '\f133'; } /* 'ï„³' */
.trx_addons_icon-extinguisher:before { content: '\f134'; } /* 'ï„´' */
.trx_addons_icon-sort-name-up:before { content: '\f15d'; } /* 'ï…' */
.trx_addons_icon-sort-name-down:before { content: '\f15e'; } /* 'ï…ž' */
.trx_addons_icon-sort-alt-up:before { content: '\f160'; } /* 'ï… ' */
.trx_addons_icon-sort-alt-down:before { content: '\f161'; } /* 'ï…¡' */
.trx_addons_icon-sort-number-up:before { content: '\f162'; } /* 'ï…¢' */
.trx_addons_icon-sort-number-down:before { content: '\f163'; } /* 'ï…£' */
.trx_addons_icon-car:before { content: '\f1b9'; } /* 'ï†¹' */
.trx_addons_icon-cc-visa:before { content: '\f1f0'; } /* 'ï‡°' */
.trx_addons_icon-cc-paypal:before { content: '\f1f4'; } /* 'ï‡´' */
.trx_addons_icon-bed:before { content: '\f236'; } /* 'ïˆ¶' */
.trx_addons_icon-balance-scale:before { content: '\f24e'; } /* 'ï‰Ž' */
.trx_addons_icon-hourglass:before { content: '\f250'; } /* 'ï‰' */
.trx_addons_icon-wpforms:before { content: '\f298'; } /* 'ïŠ˜' */