@font-face {
  font-family: 'trx_demo_icons';
  src: url('../font/trx_demo_icons.eot?37730262');
  src: url('../font/trx_demo_icons.eot?37730262#iefix') format('embedded-opentype'),
       url('../font/trx_demo_icons.woff2?37730262') format('woff2'),
       url('../font/trx_demo_icons.woff?37730262') format('woff'),
       url('../font/trx_demo_icons.ttf?37730262') format('truetype'),
       url('../font/trx_demo_icons.svg?37730262#trx_demo_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'trx_demo_icons';
    src: url('../font/trx_demo_icons.svg?37730262#trx_demo_icons') format('svg');
  }
}
*/
 
 [class^="trx_demo_icon-"]:before, [class*=" trx_demo_icon-"]:before {
  font-family: "trx_demo_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.trx_demo_icon-video:before { content: '\e800'; } /* 'î €' */
.trx_demo_icon-picture:before { content: '\e801'; } /* 'î ' */
.trx_demo_icon-camera:before { content: '\e802'; } /* 'î ‚' */
.trx_demo_icon-star:before { content: '\e803'; } /* 'î ƒ' */
.trx_demo_icon-star-empty:before { content: '\e804'; } /* 'î „' */
.trx_demo_icon-check:before { content: '\e805'; } /* 'î …' */
.trx_demo_icon-cancel:before { content: '\e806'; } /* 'î †' */
.trx_demo_icon-home:before { content: '\e807'; } /* 'î ‡' */
.trx_demo_icon-thumbs-up:before { content: '\e808'; } /* 'î ˆ' */
.trx_demo_icon-thumbs-down:before { content: '\e809'; } /* 'î ‰' */
.trx_demo_icon-eye:before { content: '\e80a'; } /* 'î Š' */
.trx_demo_icon-reply:before { content: '\e80b'; } /* 'î ‹' */
.trx_demo_icon-reply-all:before { content: '\e80c'; } /* 'î Œ' */
.trx_demo_icon-forward:before { content: '\e80d'; } /* 'î ' */
.trx_demo_icon-quote:before { content: '\e80e'; } /* 'î Ž' */
.trx_demo_icon-retweet:before { content: '\e80f'; } /* 'î ' */
.trx_demo_icon-heart-empty:before { content: '\e810'; } /* 'î ' */
.trx_demo_icon-attach:before { content: '\e811'; } /* 'î ‘' */
.trx_demo_icon-tag:before { content: '\e812'; } /* 'î ’' */
.trx_demo_icon-feather:before { content: '\e813'; } /* 'î “' */
.trx_demo_icon-heart:before { content: '\e814'; } /* 'î ”' */
.trx_demo_icon-dot:before { content: '\e815'; } /* 'î •' */
.trx_demo_icon-window:before { content: '\e816'; } /* 'î –' */
.trx_demo_icon-publish:before { content: '\e817'; } /* 'î —' */
.trx_demo_icon-mail:before { content: '\e818'; } /* 'î ˜' */
.trx_demo_icon-help:before { content: '\e819'; } /* 'î ™' */
.trx_demo_icon-dot-2:before { content: '\e81a'; } /* 'î š' */
.trx_demo_icon-dot-3:before { content: '\e81b'; } /* 'î ›' */
.trx_demo_icon-brush:before { content: '\e81c'; } /* 'î œ' */
.trx_demo_icon-download:before { content: '\e81d'; } /* 'î ' */
.trx_demo_icon-upload:before { content: '\e81e'; } /* 'î ž' */
.trx_demo_icon-user:before { content: '\e81f'; } /* 'î Ÿ' */
.trx_demo_icon-users:before { content: '\e820'; } /* 'î  ' */
.trx_demo_icon-user-add:before { content: '\e821'; } /* 'î ¡' */
.trx_demo_icon-plus:before { content: '\e822'; } /* 'î ¢' */
.trx_demo_icon-minus:before { content: '\e823'; } /* 'î £' */
.trx_demo_icon-down-open-mini:before { content: '\e824'; } /* 'î ¤' */
.trx_demo_icon-left-open-mini:before { content: '\e825'; } /* 'î ¥' */
.trx_demo_icon-right-open-mini:before { content: '\e826'; } /* 'î ¦' */
.trx_demo_icon-up-open-mini:before { content: '\e827'; } /* 'î §' */
.trx_demo_icon-down-open-big:before { content: '\e828'; } /* 'î ¨' */
.trx_demo_icon-left-open-big:before { content: '\e829'; } /* 'î ©' */
.trx_demo_icon-right-open-big:before { content: '\e82a'; } /* 'î ª' */
.trx_demo_icon-up-open-big:before { content: '\e82b'; } /* 'î «' */
.trx_demo_icon-down-thin:before { content: '\e82c'; } /* 'î ¬' */
.trx_demo_icon-left-thin:before { content: '\e82d'; } /* 'î ­' */
.trx_demo_icon-right-thin:before { content: '\e82e'; } /* 'î ®' */
.trx_demo_icon-up-thin:before { content: '\e82f'; } /* 'î ¯' */
.trx_demo_icon-ccw:before { content: '\e830'; } /* 'î °' */
.trx_demo_icon-cw:before { content: '\e831'; } /* 'î ±' */
.trx_demo_icon-arrows-ccw:before { content: '\e832'; } /* 'î ²' */
.trx_demo_icon-down:before { content: '\e833'; } /* 'î ³' */
.trx_demo_icon-left:before { content: '\e834'; } /* 'î ´' */
.trx_demo_icon-right:before { content: '\e835'; } /* 'î µ' */
.trx_demo_icon-up:before { content: '\e836'; } /* 'î ¶' */
.trx_demo_icon-down-dir:before { content: '\e837'; } /* 'î ·' */
.trx_demo_icon-left-dir:before { content: '\e838'; } /* 'î ¸' */
.trx_demo_icon-right-dir:before { content: '\e839'; } /* 'î ¹' */
.trx_demo_icon-up-dir:before { content: '\e83a'; } /* 'î º' */
.trx_demo_icon-resize-full:before { content: '\e83b'; } /* 'î »' */
.trx_demo_icon-resize-small:before { content: '\e83c'; } /* 'î ¼' */
.trx_demo_icon-search:before { content: '\e83d'; } /* 'î ½' */
.trx_demo_icon-menu:before { content: '\e83e'; } /* 'î ¾' */
.trx_demo_icon-tools:before { content: '\e83f'; } /* 'î ¿' */
.trx_demo_icon-code:before { content: '\e840'; } /* 'î¡€' */
.trx_demo_icon-arrow-combo:before { content: '\e841'; } /* 'î¡' */
.trx_demo_icon-popup:before { content: '\e842'; } /* 'î¡‚' */
.trx_demo_icon-info:before { content: '\e843'; } /* 'î¡ƒ' */
.trx_demo_icon-link:before { content: '\e844'; } /* 'î¡„' */
.trx_demo_icon-export:before { content: '\e845'; } /* 'î¡…' */
.trx_demo_icon-pencil:before { content: '\e846'; } /* 'î¡†' */
.trx_demo_icon-docs:before { content: '\e847'; } /* 'î¡‡' */
.trx_demo_icon-phone:before { content: '\e848'; } /* 'î¡ˆ' */
.trx_demo_icon-share:before { content: '\e849'; } /* 'î¡‰' */
.trx_demo_icon-shareable:before { content: '\e84a'; } /* 'î¡Š' */
.trx_demo_icon-basket:before { content: '\e84b'; } /* 'î¡‹' */
.trx_demo_icon-clock:before { content: '\e84c'; } /* 'î¡Œ' */
.trx_demo_icon-calendar:before { content: '\e84d'; } /* 'î¡' */
.trx_demo_icon-bell:before { content: '\e84e'; } /* 'î¡Ž' */
.trx_demo_icon-monitor:before { content: '\e84f'; } /* 'î¡' */
.trx_demo_icon-mobile:before { content: '\e850'; } /* 'î¡' */
.trx_demo_icon-trophy:before { content: '\e851'; } /* 'î¡‘' */
.trx_demo_icon-target:before { content: '\e852'; } /* 'î¡’' */
.trx_demo_icon-play:before { content: '\e853'; } /* 'î¡“' */
.trx_demo_icon-stop:before { content: '\e854'; } /* 'î¡”' */
.trx_demo_icon-pause:before { content: '\e855'; } /* 'î¡•' */
.trx_demo_icon-record:before { content: '\e856'; } /* 'î¡–' */
.trx_demo_icon-globe:before { content: '\e857'; } /* 'î¡—' */
.trx_demo_icon-chart-pie:before { content: '\e858'; } /* 'î¡˜' */
.trx_demo_icon-graduation-cap:before { content: '\e859'; } /* 'î¡™' */
.trx_demo_icon-clipboard:before { content: '\e85a'; } /* 'î¡š' */
.trx_demo_icon-gauge:before { content: '\e85b'; } /* 'î¡›' */
.trx_demo_icon-rocket:before { content: '\e85c'; } /* 'î¡œ' */
.trx_demo_icon-air:before { content: '\e85d'; } /* 'î¡' */
.trx_demo_icon-briefcase:before { content: '\e85e'; } /* 'î¡ž' */
.trx_demo_icon-suitcase:before { content: '\e85f'; } /* 'î¡Ÿ' */
.trx_demo_icon-floppy:before { content: '\e860'; } /* 'î¡ ' */
.trx_demo_icon-flight:before { content: '\e861'; } /* 'î¡¡' */
.trx_demo_icon-paper-plane:before { content: '\e862'; } /* 'î¡¢' */
.trx_demo_icon-leaf:before { content: '\e863'; } /* 'î¡£' */
.trx_demo_icon-mail-1:before { content: '\e864'; } /* 'î¡¤' */
.trx_demo_icon-heart-empty-1:before { content: '\e865'; } /* 'î¡¥' */
.trx_demo_icon-heart-1:before { content: '\e866'; } /* 'î¡¦' */
.trx_demo_icon-star-empty-1:before { content: '\e867'; } /* 'î¡§' */
.trx_demo_icon-star-1:before { content: '\e868'; } /* 'î¡¨' */
.trx_demo_icon-star-half:before { content: '\e869'; } /* 'î¡©' */
.trx_demo_icon-user-1:before { content: '\e86a'; } /* 'î¡ª' */
.trx_demo_icon-users-1:before { content: '\e86b'; } /* 'î¡«' */
.trx_demo_icon-bell-1:before { content: '\e86c'; } /* 'î¡¬' */
.trx_demo_icon-spin3:before { content: '\e86d'; } /* 'î¡­' */
.trx_demo_icon-spin1:before { content: '\e86e'; } /* 'î¡®' */
.trx_demo_icon-spin2:before { content: '\e86f'; } /* 'î¡¯' */
.trx_demo_icon-spin4:before { content: '\e870'; } /* 'î¡°' */
.trx_demo_icon-spin6:before { content: '\e871'; } /* 'î¡±' */
.trx_demo_icon-spin5:before { content: '\e872'; } /* 'î¡²' */
.trx_demo_icon-shopping-bags:before { content: '\e873'; } /* 'î¡³' */
.trx_demo_icon-gallery:before { content: '\e874'; } /* 'î¡´' */
.trx_demo_icon-shopping-cart:before { content: '\e875'; } /* 'î¡µ' */
.trx_demo_icon-browser:before { content: '\e876'; } /* 'î¡¶' */
.trx_demo_icon-comment-empty:before { content: '\f0e5'; } /* 'ïƒ¥' */
.trx_demo_icon-chat-empty:before { content: '\f0e6'; } /* 'ïƒ¦' */
.trx_demo_icon-bell-alt:before { content: '\f0f3'; } /* 'ïƒ³' */
.trx_demo_icon-star-half-alt:before { content: '\f123'; } /* 'ï„£' */
.trx_demo_icon-female:before { content: '\f182'; } /* 'ï†‚' */
.trx_demo_icon-male:before { content: '\f183'; } /* 'ï†ƒ' */
.trx_demo_icon-child:before { content: '\f1ae'; } /* 'ï†®' */
.trx_demo_icon-bell-off:before { content: '\f1f6'; } /* 'ï‡¶' */
.trx_demo_icon-bell-off-empty:before { content: '\f1f7'; } /* 'ï‡·' */
.trx_demo_icon-user-plus:before { content: '\f234'; } /* 'ïˆ´' */
.trx_demo_icon-user-times:before { content: '\f235'; } /* 'ïˆµ' */